deployer/src/main/resources/UserAdmin.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated By Extility (http://www.flexiant.com/products/extility/) --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://extility.flexiant.net" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://extility.flexiant.net" name="UserAPI">
<types>
<xsd:schema>
<xsd:import namespace="http://extility.flexiant.net" schemaLocation="soap_encoding.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="createGroup">
<part name="parameters" element="tns:createGroup"></part>
</message>
<message name="createGroupResponse">
<part name="parameters" element="tns:createGroupResponse"></part>
</message>
<message name="ExtilityException">
<part name="fault" element="tns:ExtilityException"></part>
</message>
<message name="createImage">
<part name="parameters" element="tns:createImage"></part>
</message>
<message name="createImageResponse">
<part name="parameters" element="tns:createImageResponse"></part>
</message>
<message name="addKey">
<part name="parameters" element="tns:addKey"></part>
</message>
<message name="addKeyResponse">
<part name="parameters" element="tns:addKeyResponse"></part>
</message>
<message name="removeKey">
<part name="parameters" element="tns:removeKey"></part>
</message>
<message name="removeKeyResponse">
<part name="parameters" element="tns:removeKeyResponse"></part>
</message>
<message name="listResources">
<part name="parameters" element="tns:listResources"></part>
</message>
<message name="listResourcesResponse">
<part name="parameters" element="tns:listResourcesResponse"></part>
</message>
<message name="modifyKey">
<part name="parameters" element="tns:modifyKey"></part>
</message>
<message name="modifyKeyResponse">
<part name="parameters" element="tns:modifyKeyResponse"></part>
</message>
<message name="updateMetadata">
<part name="parameters" element="tns:updateMetadata"></part>
</message>
<message name="updateMetadataResponse">
<part name="parameters" element="tns:updateMetadataResponse"></part>
</message>
<message name="modifyResource">
<part name="parameters" element="tns:modifyResource"></part>
</message>
<message name="modifyResourceResponse">
<part name="parameters" element="tns:modifyResourceResponse"></part>
</message>
<message name="updateCustomer">
<part name="parameters" element="tns:updateCustomer"></part>
</message>
<message name="updateCustomerResponse">
<part name="parameters" element="tns:updateCustomerResponse"></part>
</message>
<message name="createSubnet">
<part name="parameters" element="tns:createSubnet"></part>
</message>
<message name="createSubnetResponse">
<part name="parameters" element="tns:createSubnetResponse"></part>
</message>
<message name="createDisk">
<part name="parameters" element="tns:createDisk"></part>
</message>
<message name="createDiskResponse">
<part name="parameters" element="tns:createDiskResponse"></part>
</message>
<message name="createServer">
<part name="parameters" element="tns:createServer"></part>
</message>
<message name="createServerResponse">
<part name="parameters" element="tns:createServerResponse"></part>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"></part>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"></part>
</message>
<message name="attachDisk">
<part name="parameters" element="tns:attachDisk"></part>
</message>
<message name="attachDiskResponse">
<part name="parameters" element="tns:attachDiskResponse"></part>
</message>
<message name="detachDisk">
<part name="parameters" element="tns:detachDisk"></part>
</message>
<message name="detachDiskResponse">
<part name="parameters" element="tns:detachDiskResponse"></part>
</message>
<message name="removeIP">
<part name="parameters" element="tns:removeIP"></part>
</message>
<message name="removeIPResponse">
<part name="parameters" element="tns:removeIPResponse"></part>
</message>
<message name="publishImage">
<part name="parameters" element="tns:publishImage"></part>
</message>
<message name="publishImageResponse">
<part name="parameters" element="tns:publishImageResponse"></part>
</message>
<message name="revokeImage">
<part name="parameters" element="tns:revokeImage"></part>
</message>
<message name="revokeImageResponse">
<part name="parameters" element="tns:revokeImageResponse"></part>
</message>
<message name="listUnitTransactionSummary">
<part name="parameters" element="tns:listUnitTransactionSummary"></part>
</message>
<message name="listUnitTransactionSummaryResponse">
<part name="parameters" element="tns:listUnitTransactionSummaryResponse"></part>
</message>
<message name="listReferralPromoCode">
<part name="parameters" element="tns:listReferralPromoCode"></part>
</message>
<message name="listReferralPromoCodeResponse">
<part name="parameters" element="tns:listReferralPromoCodeResponse"></part>
</message>
<message name="createSnapshot">
<part name="parameters" element="tns:createSnapshot"></part>
</message>
<message name="createSnapshotResponse">
<part name="parameters" element="tns:createSnapshotResponse"></part>
</message>
<message name="createNetwork">
<part name="parameters" element="tns:createNetwork"></part>
</message>
<message name="createNetworkResponse">
<part name="parameters" element="tns:createNetworkResponse"></part>
</message>
<message name="createReferralPromoCode">
<part name="parameters" element="tns:createReferralPromoCode"></part>
</message>
<message name="createReferralPromoCodeResponse">
<part name="parameters" element="tns:createReferralPromoCodeResponse"></part>
</message>
<message name="deleteReferralPromoCode">
<part name="parameters" element="tns:deleteReferralPromoCode"></part>
</message>
<message name="deleteReferralPromoCodeResponse">
<part name="parameters" element="tns:deleteReferralPromoCodeResponse"></part>
</message>
<message name="listUnitTransactions">
<part name="parameters" element="tns:listUnitTransactions"></part>
</message>
<message name="listUnitTransactionsResponse">
<part name="parameters" element="tns:listUnitTransactionsResponse"></part>
</message>
<message name="listProductPurchases">
<part name="parameters" element="tns:listProductPurchases"></part>
</message>
<message name="listProductPurchasesResponse">
<part name="parameters" element="tns:listProductPurchasesResponse"></part>
</message>
<message name="publishResource">
<part name="parameters" element="tns:publishResource"></part>
</message>
<message name="publishResourceResponse">
<part name="parameters" element="tns:publishResourceResponse"></part>
</message>
<message name="deleteResource">
<part name="parameters" element="tns:deleteResource"></part>
</message>
<message name="deleteResourceResponse">
<part name="parameters" element="tns:deleteResourceResponse"></part>
</message>
<message name="doQuery">
<part name="parameters" element="tns:doQuery"></part>
</message>
<message name="doQueryResponse">
<part name="parameters" element="tns:doQueryResponse"></part>
</message>
<message name="getMeasuredValues">
<part name="parameters" element="tns:getMeasuredValues"></part>
</message>
<message name="getMeasuredValuesResponse">
<part name="parameters" element="tns:getMeasuredValuesResponse"></part>
</message>
<message name="lockUser">
<part name="parameters" element="tns:lockUser"></part>
</message>
<message name="lockUserResponse">
<part name="parameters" element="tns:lockUserResponse"></part>
</message>
<message name="unlockUser">
<part name="parameters" element="tns:unlockUser"></part>
</message>
<message name="unlockUserResponse">
<part name="parameters" element="tns:unlockUserResponse"></part>
</message>
<message name="getResourceTypes">
<part name="parameters" element="tns:getResourceTypes"></part>
</message>
<message name="getResourceTypesResponse">
<part name="parameters" element="tns:getResourceTypesResponse"></part>
</message>
<message name="modifyNetwork">
<part name="parameters" element="tns:modifyNetwork"></part>
</message>
<message name="modifyNetworkResponse">
<part name="parameters" element="tns:modifyNetworkResponse"></part>
</message>
<message name="modifyDisk">
<part name="parameters" element="tns:modifyDisk"></part>
</message>
<message name="modifyDiskResponse">
<part name="parameters" element="tns:modifyDiskResponse"></part>
</message>
<message name="modifyServer">
<part name="parameters" element="tns:modifyServer"></part>
</message>
<message name="modifyServerResponse">
<part name="parameters" element="tns:modifyServerResponse"></part>
</message>
<message name="modifyFirewall">
<part name="parameters" element="tns:modifyFirewall"></part>
</message>
<message name="modifyFirewallResponse">
<part name="parameters" element="tns:modifyFirewallResponse"></part>
</message>
<message name="createVDC">
<part name="parameters" element="tns:createVDC"></part>
</message>
<message name="createVDCResponse">
<part name="parameters" element="tns:createVDCResponse"></part>
</message>
<message name="fetchResource">
<part name="parameters" element="tns:fetchResource"></part>
</message>
<message name="fetchResourceResponse">
<part name="parameters" element="tns:fetchResourceResponse"></part>
</message>
<message name="revertToResource">
<part name="parameters" element="tns:revertToResource"></part>
</message>
<message name="revertToResourceResponse">
<part name="parameters" element="tns:revertToResourceResponse"></part>
</message>
<message name="attachNetworkInterface">
<part name="parameters" element="tns:attachNetworkInterface"></part>
</message>
<message name="attachNetworkInterfaceResponse">
<part name="parameters" element="tns:attachNetworkInterfaceResponse"></part>
</message>
<message name="detachNetworkInterface">
<part name="parameters" element="tns:detachNetworkInterface"></part>
</message>
<message name="detachNetworkInterfaceResponse">
<part name="parameters" element="tns:detachNetworkInterfaceResponse"></part>
</message>
<message name="attachSSHKey">
<part name="parameters" element="tns:attachSSHKey"></part>
</message>
<message name="attachSSHKeyResponse">
<part name="parameters" element="tns:attachSSHKeyResponse"></part>
</message>
<message name="detachSSHKey">
<part name="parameters" element="tns:detachSSHKey"></part>
</message>
<message name="detachSSHKeyResponse">
<part name="parameters" element="tns:detachSSHKeyResponse"></part>
</message>
<message name="changeServerStatus">
<part name="parameters" element="tns:changeServerStatus"></part>
</message>
<message name="changeServerStatusResponse">
<part name="parameters" element="tns:changeServerStatusResponse"></part>
</message>
<message name="openVNCConnection">
<part name="parameters" element="tns:openVNCConnection"></part>
</message>
<message name="openVNCConnectionResponse">
<part name="parameters" element="tns:openVNCConnectionResponse"></part>
</message>
<message name="modifySnapshot">
<part name="parameters" element="tns:modifySnapshot"></part>
</message>
<message name="modifySnapshotResponse">
<part name="parameters" element="tns:modifySnapshotResponse"></part>
</message>
<message name="attachSubnet">
<part name="parameters" element="tns:attachSubnet"></part>
</message>
<message name="attachSubnetResponse">
<part name="parameters" element="tns:attachSubnetResponse"></part>
</message>
<message name="modifySubnet">
<part name="parameters" element="tns:modifySubnet"></part>
</message>
<message name="modifySubnetResponse">
<part name="parameters" element="tns:modifySubnetResponse"></part>
</message>
<message name="createFirewallTemplate">
<part name="parameters" element="tns:createFirewallTemplate"></part>
</message>
<message name="createFirewallTemplateResponse">
<part name="parameters" element="tns:createFirewallTemplateResponse"></part>
</message>
<message name="modifyFirewallTemplate">
<part name="parameters" element="tns:modifyFirewallTemplate"></part>
</message>
<message name="modifyFirewallTemplateResponse">
<part name="parameters" element="tns:modifyFirewallTemplateResponse"></part>
</message>
<message name="applyFirewallTemplate">
<part name="parameters" element="tns:applyFirewallTemplate"></part>
</message>
<message name="applyFirewallTemplateResponse">
<part name="parameters" element="tns:applyFirewallTemplateResponse"></part>
</message>
<message name="createSSHKey">
<part name="parameters" element="tns:createSSHKey"></part>
</message>
<message name="createSSHKeyResponse">
<part name="parameters" element="tns:createSSHKeyResponse"></part>
</message>
<message name="modifySSHKey">
<part name="parameters" element="tns:modifySSHKey"></part>
</message>
<message name="modifySSHKeyResponse">
<part name="parameters" element="tns:modifySSHKeyResponse"></part>
</message>
<message name="createNetworkInterface">
<part name="parameters" element="tns:createNetworkInterface"></part>
</message>
<message name="createNetworkInterfaceResponse">
<part name="parameters" element="tns:createNetworkInterfaceResponse"></part>
</message>
<message name="modifyGroup">
<part name="parameters" element="tns:modifyGroup"></part>
</message>
<message name="modifyGroupResponse">
<part name="parameters" element="tns:modifyGroupResponse"></part>
</message>
<message name="modifyNetworkInterface">
<part name="parameters" element="tns:modifyNetworkInterface"></part>
</message>
<message name="modifyNetworkInterfaceResponse">
<part name="parameters" element="tns:modifyNetworkInterfaceResponse"></part>
</message>
<message name="addIP">
<part name="parameters" element="tns:addIP"></part>
</message>
<message name="addIPResponse">
<part name="parameters" element="tns:addIPResponse"></part>
</message>
<message name="modifyVDC">
<part name="parameters" element="tns:modifyVDC"></part>
</message>
<message name="modifyVDCResponse">
<part name="parameters" element="tns:modifyVDCResponse"></part>
</message>
<message name="modifyImage">
<part name="parameters" element="tns:modifyImage"></part>
</message>
<message name="modifyImageResponse">
<part name="parameters" element="tns:modifyImageResponse"></part>
</message>
<message name="cancelJob">
<part name="parameters" element="tns:cancelJob"></part>
</message>
<message name="cancelJobResponse">
<part name="parameters" element="tns:cancelJobResponse"></part>
</message>
<message name="waitForJob">
<part name="parameters" element="tns:waitForJob"></part>
</message>
<message name="waitForJobResponse">
<part name="parameters" element="tns:waitForJobResponse"></part>
</message>
<message name="revokeResource">
<part name="parameters" element="tns:revokeResource"></part>
</message>
<message name="revokeResourceResponse">
<part name="parameters" element="tns:revokeResourceResponse"></part>
</message>
<message name="cloneResource">
<part name="parameters" element="tns:cloneResource"></part>
</message>
<message name="cloneResourceResponse">
<part name="parameters" element="tns:cloneResourceResponse"></part>
</message>
<message name="setPermissions">
<part name="parameters" element="tns:setPermissions"></part>
</message>
<message name="setPermissionsResponse">
<part name="parameters" element="tns:setPermissionsResponse"></part>
</message>
<message name="listPermissions">
<part name="parameters" element="tns:listPermissions"></part>
</message>
<message name="listPermissionsResponse">
<part name="parameters" element="tns:listPermissionsResponse"></part>
</message>
<message name="isPermitted">
<part name="parameters" element="tns:isPermitted"></part>
</message>
<message name="isPermittedResponse">
<part name="parameters" element="tns:isPermittedResponse"></part>
</message>
<message name="addUserToGroup">
<part name="parameters" element="tns:addUserToGroup"></part>
</message>
<message name="addUserToGroupResponse">
<part name="parameters" element="tns:addUserToGroupResponse"></part>
</message>
<message name="deleteUserFromGroup">
<part name="parameters" element="tns:deleteUserFromGroup"></part>
</message>
<message name="deleteUserFromGroupResponse">
<part name="parameters" element="tns:deleteUserFromGroupResponse"></part>
</message>
<message name="createDeploymentTemplate">
<part name="parameters" element="tns:createDeploymentTemplate"></part>
</message>
<message name="createDeploymentTemplateResponse">
<part name="parameters" element="tns:createDeploymentTemplateResponse"></part>
</message>
<message name="dryRunTemplate">
<part name="parameters" element="tns:dryRunTemplate"></part>
</message>
<message name="dryRunTemplateResponse">
<part name="parameters" element="tns:dryRunTemplateResponse"></part>
</message>
<message name="deployTemplate">
<part name="parameters" element="tns:deployTemplate"></part>
</message>
<message name="deployTemplateResponse">
<part name="parameters" element="tns:deployTemplateResponse"></part>
</message>
<message name="changeDeploymentInstanceStatus">
<part name="parameters" element="tns:changeDeploymentInstanceStatus"></part>
</message>
<message name="changeDeploymentInstanceStatusResponse">
<part name="parameters" element="tns:changeDeploymentInstanceStatusResponse"></part>
</message>
<message name="modifyDeploymentTemplate">
<part name="parameters" element="tns:modifyDeploymentTemplate"></part>
</message>
<message name="modifyDeploymentTemplateResponse">
<part name="parameters" element="tns:modifyDeploymentTemplateResponse"></part>
</message>
<message name="modifyDeploymentInstance">
<part name="parameters" element="tns:modifyDeploymentInstance"></part>
</message>
<message name="modifyDeploymentInstanceResponse">
<part name="parameters" element="tns:modifyDeploymentInstanceResponse"></part>
</message>
<message name="createDeploymentTemplateFromInstance">
<part name="parameters" element="tns:createDeploymentTemplateFromInstance"></part>
</message>
<message name="createDeploymentTemplateFromInstanceResponse">
<part name="parameters" element="tns:createDeploymentTemplateFromInstanceResponse"></part>
</message>
<portType name="UserService">
<operation name="createGroup">
<input message="tns:createGroup"></input>
<output message="tns:createGroupResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="createImage">
<input message="tns:createImage"></input>
<output message="tns:createImageResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="addKey">
<input message="tns:addKey"></input>
<output message="tns:addKeyResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="removeKey">
<input message="tns:removeKey"></input>
<output message="tns:removeKeyResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="listResources">
<input message="tns:listResources"></input>
<output message="tns:listResourcesResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifyKey">
<input message="tns:modifyKey"></input>
<output message="tns:modifyKeyResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="updateMetadata">
<input message="tns:updateMetadata"></input>
<output message="tns:updateMetadataResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifyResource">
<input message="tns:modifyResource"></input>
<output message="tns:modifyResourceResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="updateCustomer">
<input message="tns:updateCustomer"></input>
<output message="tns:updateCustomerResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="createSubnet">
<input message="tns:createSubnet"></input>
<output message="tns:createSubnetResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="createDisk">
<input message="tns:createDisk"></input>
<output message="tns:createDiskResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="createServer">
<input message="tns:createServer"></input>
<output message="tns:createServerResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="updateUser">
<input message="tns:updateUser"></input>
<output message="tns:updateUserResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="attachDisk">
<input message="tns:attachDisk"></input>
<output message="tns:attachDiskResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="detachDisk">
<input message="tns:detachDisk"></input>
<output message="tns:detachDiskResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="removeIP">
<input message="tns:removeIP"></input>
<output message="tns:removeIPResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="publishImage">
<input message="tns:publishImage"></input>
<output message="tns:publishImageResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="revokeImage">
<input message="tns:revokeImage"></input>
<output message="tns:revokeImageResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="listUnitTransactionSummary">
<input message="tns:listUnitTransactionSummary"></input>
<output message="tns:listUnitTransactionSummaryResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="listReferralPromoCode">
<input message="tns:listReferralPromoCode"></input>
<output message="tns:listReferralPromoCodeResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="createSnapshot">
<input message="tns:createSnapshot"></input>
<output message="tns:createSnapshotResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="createNetwork">
<input message="tns:createNetwork"></input>
<output message="tns:createNetworkResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="createReferralPromoCode">
<input message="tns:createReferralPromoCode"></input>
<output message="tns:createReferralPromoCodeResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="deleteReferralPromoCode">
<input message="tns:deleteReferralPromoCode"></input>
<output message="tns:deleteReferralPromoCodeResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="listUnitTransactions">
<input message="tns:listUnitTransactions"></input>
<output message="tns:listUnitTransactionsResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="listProductPurchases">
<input message="tns:listProductPurchases"></input>
<output message="tns:listProductPurchasesResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="publishResource">
<input message="tns:publishResource"></input>
<output message="tns:publishResourceResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="deleteResource">
<input message="tns:deleteResource"></input>
<output message="tns:deleteResourceResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="doQuery">
<input message="tns:doQuery"></input>
<output message="tns:doQueryResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="getMeasuredValues">
<input message="tns:getMeasuredValues"></input>
<output message="tns:getMeasuredValuesResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="lockUser">
<input message="tns:lockUser"></input>
<output message="tns:lockUserResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="unlockUser">
<input message="tns:unlockUser"></input>
<output message="tns:unlockUserResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="getResourceTypes">
<input message="tns:getResourceTypes"></input>
<output message="tns:getResourceTypesResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifyNetwork">
<input message="tns:modifyNetwork"></input>
<output message="tns:modifyNetworkResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifyDisk">
<input message="tns:modifyDisk"></input>
<output message="tns:modifyDiskResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifyServer">
<input message="tns:modifyServer"></input>
<output message="tns:modifyServerResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifyFirewall">
<input message="tns:modifyFirewall"></input>
<output message="tns:modifyFirewallResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="createVDC">
<input message="tns:createVDC"></input>
<output message="tns:createVDCResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="fetchResource">
<input message="tns:fetchResource"></input>
<output message="tns:fetchResourceResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="revertToResource">
<input message="tns:revertToResource"></input>
<output message="tns:revertToResourceResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="attachNetworkInterface">
<input message="tns:attachNetworkInterface"></input>
<output message="tns:attachNetworkInterfaceResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="detachNetworkInterface">
<input message="tns:detachNetworkInterface"></input>
<output message="tns:detachNetworkInterfaceResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="attachSSHKey">
<input message="tns:attachSSHKey"></input>
<output message="tns:attachSSHKeyResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="detachSSHKey">
<input message="tns:detachSSHKey"></input>
<output message="tns:detachSSHKeyResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="changeServerStatus">
<input message="tns:changeServerStatus"></input>
<output message="tns:changeServerStatusResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="openVNCConnection">
<input message="tns:openVNCConnection"></input>
<output message="tns:openVNCConnectionResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifySnapshot">
<input message="tns:modifySnapshot"></input>
<output message="tns:modifySnapshotResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="attachSubnet">
<input message="tns:attachSubnet"></input>
<output message="tns:attachSubnetResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifySubnet">
<input message="tns:modifySubnet"></input>
<output message="tns:modifySubnetResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="createFirewallTemplate">
<input message="tns:createFirewallTemplate"></input>
<output message="tns:createFirewallTemplateResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifyFirewallTemplate">
<input message="tns:modifyFirewallTemplate"></input>
<output message="tns:modifyFirewallTemplateResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="applyFirewallTemplate">
<input message="tns:applyFirewallTemplate"></input>
<output message="tns:applyFirewallTemplateResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="createSSHKey">
<input message="tns:createSSHKey"></input>
<output message="tns:createSSHKeyResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifySSHKey">
<input message="tns:modifySSHKey"></input>
<output message="tns:modifySSHKeyResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="createNetworkInterface">
<input message="tns:createNetworkInterface"></input>
<output message="tns:createNetworkInterfaceResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifyGroup">
<input message="tns:modifyGroup"></input>
<output message="tns:modifyGroupResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifyNetworkInterface">
<input message="tns:modifyNetworkInterface"></input>
<output message="tns:modifyNetworkInterfaceResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="addIP">
<input message="tns:addIP"></input>
<output message="tns:addIPResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifyVDC">
<input message="tns:modifyVDC"></input>
<output message="tns:modifyVDCResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifyImage">
<input message="tns:modifyImage"></input>
<output message="tns:modifyImageResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="cancelJob">
<input message="tns:cancelJob"></input>
<output message="tns:cancelJobResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="waitForJob">
<input message="tns:waitForJob"></input>
<output message="tns:waitForJobResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="revokeResource">
<input message="tns:revokeResource"></input>
<output message="tns:revokeResourceResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="cloneResource">
<input message="tns:cloneResource"></input>
<output message="tns:cloneResourceResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="setPermissions">
<input message="tns:setPermissions"></input>
<output message="tns:setPermissionsResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="listPermissions">
<input message="tns:listPermissions"></input>
<output message="tns:listPermissionsResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="isPermitted">
<input message="tns:isPermitted"></input>
<output message="tns:isPermittedResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="addUserToGroup">
<input message="tns:addUserToGroup"></input>
<output message="tns:addUserToGroupResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="deleteUserFromGroup">
<input message="tns:deleteUserFromGroup"></input>
<output message="tns:deleteUserFromGroupResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="createDeploymentTemplate">
<input message="tns:createDeploymentTemplate"></input>
<output message="tns:createDeploymentTemplateResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="dryRunTemplate">
<input message="tns:dryRunTemplate"></input>
<output message="tns:dryRunTemplateResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="deployTemplate">
<input message="tns:deployTemplate"></input>
<output message="tns:deployTemplateResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="changeDeploymentInstanceStatus">
<input message="tns:changeDeploymentInstanceStatus"></input>
<output message="tns:changeDeploymentInstanceStatusResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifyDeploymentTemplate">
<input message="tns:modifyDeploymentTemplate"></input>
<output message="tns:modifyDeploymentTemplateResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="modifyDeploymentInstance">
<input message="tns:modifyDeploymentInstance"></input>
<output message="tns:modifyDeploymentInstanceResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
<operation name="createDeploymentTemplateFromInstance">
<input message="tns:createDeploymentTemplateFromInstance"></input>
<output message="tns:createDeploymentTemplateFromInstanceResponse"></output>
<fault message="tns:ExtilityException" name="ExtilityException"></fault>
</operation>
</portType>
<binding name="UserServicePortBinding" type="tns:UserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createGroup">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createImage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addKey">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="removeKey">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listResources">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifyKey">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateMetadata">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifyResource">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateCustomer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createSubnet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createDisk">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createServer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="attachDisk">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="detachDisk">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="removeIP">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="publishImage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="revokeImage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listUnitTransactionSummary">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listReferralPromoCode">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createSnapshot">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createNetwork">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createReferralPromoCode">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteReferralPromoCode">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listUnitTransactions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listProductPurchases">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="publishResource">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteResource">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="doQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getMeasuredValues">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="lockUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="unlockUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getResourceTypes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifyNetwork">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifyDisk">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifyServer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifyFirewall">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createVDC">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="fetchResource">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="revertToResource">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="attachNetworkInterface">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="detachNetworkInterface">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="attachSSHKey">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="detachSSHKey">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="changeServerStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="openVNCConnection">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifySnapshot">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="attachSubnet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifySubnet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createFirewallTemplate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifyFirewallTemplate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="applyFirewallTemplate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createSSHKey">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifySSHKey">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createNetworkInterface">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifyGroup">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifyNetworkInterface">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addIP">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifyVDC">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifyImage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="cancelJob">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="waitForJob">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="revokeResource">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="cloneResource">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setPermissions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listPermissions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="isPermitted">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addUserToGroup">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteUserFromGroup">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createDeploymentTemplate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="dryRunTemplate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deployTemplate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="changeDeploymentInstanceStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifyDeploymentTemplate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifyDeploymentInstance">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createDeploymentTemplateFromInstance">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ExtilityException">
<soap:fault name="ExtilityException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="UserAPI">
<port name="UserServicePort" binding="tns:UserServicePortBinding">
<soap:address location="https://cp.sd1.flexiant.net:4442/userapi"></soap:address>
</port>
</service>
</definitions>